<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/hippodrome.log" filePattern="Logs/hippodrome.%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{DEFAULT} %.10p %.15c: %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs" maxDepth="2">
                <IfFileName glob="hippodrome.*.log"/>
                <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
    [</Configuration>